body {
    font-family: Arial, sans-serif;
    background: #E6E6FA; /* Lavender */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    background: #6A5ACD; /* Medium Purple */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #836FFF; /* Slightly lighter purple on hover */
}

.error {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    position: absolute; /* Fixes the footer to the bottom */
    bottom: 0;
    left: 0;
}

.footer img {
    display: inline-block;
    margin: 10px;
}
